<section class="projects-section">
    <h1 class="title">Projetos</h1>
  
    <section class="projects-container">
      <section
        class="project-card"
        *ngFor="let project of projects"
      >
        <div class="card-header">
          <div class="img-area">
            <img [src]="project.image" [alt]="project.title" />
          </div>
          <h2 class="title-project">{{ project.title }}</h2>
        </div>
  
        <div class="buttons-area">
          <button class="more-info">Saber Mais</button>
          <button class="view" (click)="openModal(project)">Visualizar</button>
        </div>
      </section>
    </section>
  
    <div class="modal" *ngIf="selectedProject" (click)="closeModal($event)">
      <div class="modal-content">
        <span class="close" (click)="selectedProject = null">&times;</span>
        <h2>{{ selectedProject.title }}</h2>
        <video
          [src]="selectedProject.video"
        ></video>
        <p>{{ selectedProject.description }}</p>
      </div>
    </div>
  </section>
  