<section class="projects-section">

    <h1 class="title">Projetos</h1>

    <!-- <p>Oi Eric</p> -->

    <section class="projects-container">

        <section class="project-card">

            <div class="card-header">

                <div class="img-area">
                    <img src="/my-animation.png" alt="">
                </div>

                <h2 class="title-project">Projeto teste</h2>

            </div>

            <!-- <div class="description-area">

            <p>Lorem ipsum dolor sit amet. Est magnam provident quo deleniti enim et culpa consequatur est consequatur dolores id rerum neque. Et similique mollitia eos veritatis quisquam est velit voluptatum et quia consequatur sit dicta nihil et commodi doloribus. Est commodi nisi id eligendi corrupti ea ducimus debitis aut dolore aliquid eos repudiandae illum qui dolorem blanditiis et inventore soluta.</p>

        </div> -->

            <div class="buttons-area">
                <button class="more-info">Saber Mais</button>
                <button class="view">Visualizar</button>
            </div>



        </section>
    </section>

</section>