<header>
  <nav class="navigation" [ngStyle]="{'border-radius': borderRadius}">
    <button class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class="nav-list" [class.active]="menuOpen">
      <li><a href="#home" (click)="scrollToSection('home')">Home</a></li>
      <li><a href="#about-me" (click)="scrollToSection('about-me')">Sobre mim</a></li>
      <li><a href="#projects" (click)="scrollToSection('projects')">Projetos</a></li>
      <li><a href="#contact" (click)="scrollToSection('contact')">Contato</a></li>
    </ul>

    <ul class="nav-list social">
      <li>
        <a href="https://www.linkedin.com/in/dev-eric" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/EricSouzaDosSantos" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://wa.me/11960703544" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>