<header>
    <nav class="navigation">
        <ul class="list">
            <li><a href="">Home</a></li>
            <li><a href="">About Me</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Contact Me</a></li>
        </ul>
        <ul class="list">
            <li>
                <a href="https://www.linkedin.com/in/dev-eric" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/EricSouzaDosSantos" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a href="https://wa.me/11960703544" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                  </a>
            </li>
        </ul>
    </nav>
</header>