  <section class="about-me-section">
    <section class="badge-container">
      <div class="badge-strap"></div>
      <div class="badge">
        <div class="badge-header">
          <div class="photo-area">
            <img src="my-animation.png" alt="Foto do Perfil" />
          </div>
          <div class="info-area">
            <h1>Eric Souza</h1>
            <h2>Desenvolvedor Full-Stack</h2>
            <p>Email: eric.com</p>
            <p>Telefone: (11) 96070-3544</p>
          </div>
        </div>
        <div class="description-area">
          <p>
            Sou um desenvolvedor apaixonado por criar soluções robustas e eficientes. Com experiência em desenvolvimento back-end utilizando Java e Spring Boot e front-end com Angular e JavaScript, destaco-me por meu comprometimento com código limpo e arquitetura bem estruturada. Minha habilidade em integrar tecnologias modernas para resolver problemas complexos reflete minha paixão pela inovação.
          </p>
          <ul class="highlights">
            <li><strong>Experiência:</strong> Desenvolvimento de APIs RESTful com Spring Boot e integração com AWS (S3, EC2).</li>
            <li><strong>Projeto em destaque:</strong> Líder em um hackathon, responsável pelo desenvolvimento de uma API para construtor de formulários, com deploy na AWS.</li>
            <li><strong>Metodologias ágeis:</strong> Experiência com Scrum e Kanban para gestão eficiente de projetos.</li>
            <li><strong>Soft Skills:</strong> Proatividade, liderança, comunicação, colaboração, resiliência e organização.</li>
            </ul>
        </div>
        
        <div class="badge-footer">
        </div>
      </div>
    </section>  

    <section class="skills-section" id="skills">
      <h2 class="heading">Principais Skills</h2>
      <div class="skills-container">
        <div class="skill-card" *ngFor="let skill of skills" (click)="openModal(skill.name)">
          <div class="skill-info">
            <i class="fab" [ngClass]="skill.icon"></i>
            <span>{{ skill.name }}</span>
          </div>
          <div class="progress-bar">
            <div class="progress" [ngStyle]="{'width': skill.progress + '%'}"></div>
          </div>
        </div>
      </div>
    </section>
    

    <div class="modal" *ngIf="isModalVisible" (click)="closeModal()"> 
      <div class="modal-content" (click)="$event.stopPropagation()">
        <h3>{{ selectedSkill }} - Tecnologias</h3>
        <ul>
          <li *ngFor="let tech of technologies">{{ tech }}</li>
        </ul>
        <button (click)="closeModal()">Fechar</button>
      </div>
    </div>
    
</section>
