@use 'sass:color';
@import "@fortawesome/fontawesome-free/css/all.min.css";

$primary-color: #191970;
$secondary-color: #9cb5ff;
$hover-color: #191970;
$text-color: #E0E0E0;
$bg-body: #12214e;
$font-primary: "IBM Plex Mono", serif;
$font-size-title: 2.5rem;
$font-size-description: 1.5rem;
$accent-color: #192f70;

// $primary-color: #1d3042;
// $secondary-color: #ffffff;
// $hover-color: #14202e;
// $text-color: #e0e0e0;
// $bg-body: #121d28;
// $accent-color: #4caf50;
// $progress-bg: #2e3a48;
// $font-primary: "IBM Plex Mono", serif;
// $font-size-title: 2.5rem;
// $font-size-description: 1.5rem;
// $badge-shadow: rgba(0, 0, 0, 0.2);
// $primary-color: #1d3042;
// $secondary-color: #ffffff;
// // $accent-color: #4caf50;
// $hover-color: #14202e;
// $text-color: #333333;
$description-bg: #f7f9fc;
$badge-border: $accent-color;
// $footer-bg: #1d3042;




.about-me-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
    padding: 2rem;

    // &:first-child{
    //     display: flex;
    //     align-items: center;
    // }

    // &:last-child{
    //     display: flex;
    //     align-items: start;
    // }


    .badge-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: transform 0.6s ease;
        cursor: auto;


        &:hover {
            transform: scale(1.06);
        }

        .badge-strap {
            width: 20%;
            height: 3%;
            background: linear-gradient(400deg, $primary-color, $accent-color);
            border-radius: 1rem;
            position: absolute;
            top: -5%;
            left: 50%;
            transform: translateX(-50%);
        }

        .badge {
            display: flex;
            flex-direction: row;
            width: 85%;
            height: 100%;
            background: linear-gradient(100deg, $primary-color, $accent-color);
            border: 1% solid $badge-border;
            border-radius: 2%;
            box-shadow: 0% 2% 5% rgba(0, 0, 0, 0.2);
            padding: 5%;

            &:nth-child(3) {
                display: flex;
                flex-direction: column;
            }

            .badge-header {
                display: flex;
                align-items: start;
                flex-direction: column;
                width: 45%;
                height: 100%;
                border-bottom: 0.3% solid $primary-color;

                .photo-area {
                    width: 70%;
                    height: 50%;
                    background: #d3d3d3;
                    border-radius: 10%;
                    overflow: hidden;
                    margin-right: 5%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .info-area {
                    margin-top: 7%;
                    width: 100%;

                    .fab.fa-envelope {
                        color: black;
                        width: 50px;
                    }

                    .fab.fa-phone {
                        color: black;
                    }

                    h1 {
                        font-size: 120%;
                        color: $secondary-color;
                        margin-bottom: 2%;
                    }

                    h2 {
                        font-size: 100%;
                        color: $secondary-color;
                        margin-bottom: 2%;
                    }

                    p {
                        font-size: 90%;
                        padding: 1%;
                        color: $secondary-color;
                    }
                }
            }

            .description-area {
                // margin: 5% auto; 
                background: linear-gradient(120deg, $primary-color, $secondary-color);
                padding: 3%;
                width: 90%;
                height: auto;
                border-radius: 1rem;
                font-size: 1.3rem;
                color: #e0e0e0;
                text-align: justify;
                line-height: 1.5;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

                ul.highlights {
                    margin-top: 1rem;
                    padding-left: 1rem;
                    list-style-type: disc;

                    li {
                        margin-bottom: 0.5rem;
                        // font-size: 1rem;
                        color: darken($description-bg, 10%);

                        strong {
                            color: $secondary-color;
                            font-weight: bold;
                        }

                        ul {
                            margin-top: 0.5rem;
                            padding-left: 1.5rem;
                            list-style-type: circle;

                            li {
                                // font-size: 0.95rem;
                                color: lighten($text-color, 5%);
                            }
                        }
                    }
                }
            }


            .badge-footer {
                cursor: pointer;
                background: linear-gradient(100deg, $accent-color, $secondary-color);
                color: $text-color;
                width: 70%;
                padding: 0.5rem;
                text-align: center;
                border-radius: 0.5rem;
                transition: background 0.3s;

                &:hover {
                    background: linear-gradient(100deg, $primary-color, $accent-color);
                }
            }
        }
    }

    .skills-section {
        width: 85%;
        background: linear-gradient(100deg, $primary-color, $accent-color);
        padding: 2rem;
        border-radius: 16px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
        transition: transform 0.6s ease;
        cursor: auto;

        &:hover {
            transform: scale(1.07);
        }

        .heading {
            text-align: center;
            font-size: 2.2rem;
            font-weight: bold;
            color: $bg-body;
            margin-bottom: 1.5rem;
        }

        .skills-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
            gap: 1rem;
            padding: 1rem;
        }





        .skill-card {
            background: $secondary-color;
            padding: 1.5rem;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease, background-color 0.3s ease;

            &:hover {
                transform: translateY(-8px);
                background: linear-gradient(120deg, $primary-color, $secondary-color);
                background-size: 250%;
                animation: move-gradient 3s infinite linear;

                .skill-percentage {
                    opacity: 1;
                    transform: translateY(0);
                }



                .fab.fa-java {
                    color: #f89820;
                }

                .fab.fa-angular {
                    color: #dd0031;
                }

                .fab.fa-js {
                    color: #f7df1e;
                }

                .fab.fa-sass {
                    color: #c76395;
                }

                .fab.fa-html5 {
                    color: #e34f26;
                }

                .fab.fa-css3-alt {
                    color: #264de4;
                }

                .fab.fa-git {
                    color: #f1502f;
                }

                .fa-solid.fa-leaf {
                    color: $accent-color;
                }

                .fab.fa-aws {
                    color: #ff9900;
                }

                .fab.fa-github {
                    color: #211f1f;
                }
            }

            .skill-info {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 1.2rem;
                color: $primary-color;

                i {
                    font-size: 2.2rem;
                    // color: $primary-color;
                    color: lighten($accent-color, 10%);

                    transition: color 0.3s ease;
                }
            }

            .skill-info {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 1.2rem;
                color: $primary-color;

                i {
                    font-size: 2.2rem;
                    color: $primary-color;
                    transition: color 0.3s ease;

                }
            }


            .progress-bar {
                margin-top: 1rem;
                width: 90%;
                height: 12px;
                background: $primary-color;
                border-radius: 8px;
                overflow: hidden;
                position: relative;

                .progress {
                    height: 100%;
                    background: linear-gradient(90deg, lighten($accent-color, 20%), lighten($accent-color, 40%));
                    animation: fill-bar 2s ease forwards;
                }
            }

            .skill-percentage {
                position: absolute;
                top: 24%;
                left: 70%;
                transform: translate(-50%, -60%);
                font-size: 1.5rem;
                font-weight: bold;
                color: $primary-color;
                opacity: 0;
                transition: opacity 1s ease, transform 1s ease;
              }


        }

        @keyframes move-gradient {
            0% {
                background-position: 0% 25%;
            }

            25% {
                background-position: 25% 50%;

            }

            50% {
                background-position: 50% 75%;

            }

            75% {
                background-position: 75% 100%;

            }

            100% {
                background-position: 100% 0%;
            }
        }
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .modal-content {
        background: $primary-color;
        padding: 2rem;
        border-radius: 30px;
        width: 80%;
        max-width: 500px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        animation: fade-in 0.6s ease-in;

        h3 {
            font-size: 1.8rem;
            margin-bottom: 1.5rem;
            color: $text-color;
        }

        // ul {
        //     list-style: none;
        //     padding: 0;
        //     margin-bottom: 1.5rem;
        //     font-size: 1.2rem;
        //     color: $secondary-color;

        //     li {
        //         margin: 0.5rem 0;
        //     }
        // }
        ul{
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem;
        padding: 0;
        margin: 1rem 0;
        justify-content: center;

        li {
          list-style: none;
          background: $secondary-color;
          color: $primary-color;
          padding: 0.5rem 1rem;
          border-radius: 15px;
          font-size: 0.9rem;
          font-weight: bold;
          transition: background 0.3s ease;
        }
    }

        button {
            background: $secondary-color;
            color: #fff;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1.1rem;
            transition: background 0.3s ease;

            &:hover {
                background: darken($accent-color, 10%);
            }
        }
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: scale(0.95);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}

@media (max-width: 1300px) {
    .about-me-section {
        //   gap: 1.5rem;
        //   padding: 1.5rem;

        .badge-container {
            .badge {
                flex-direction: row;
                align-items: start;
                width: 100%;
                gap: 1rem;


                .badge-header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    width: 40%;

                    .photo-area {
                        width: 70%;
                        margin-right: 0;
                        margin-bottom: 1rem;
                    }

                    .info-area {
                        h1 {
                            font-size: 120%;
                        }

                        h2 {
                            font-size: 100%;
                        }

                        p {
                            font-size: 95%;
                        }
                    }
                }

                .description-area {
                    width: 60%;
                    height: 100%;
                    font-size: 1.1rem;
                }
            }
        }

        .skills-section {
            width: 100%;

            .skills-container {
                grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
            }

            .skill-card {
                .skill-info {
                    font-size: 1rem;

                    i {
                        font-size: 2rem;
                    }
                }

                .progress-bar {
                    width: 90%;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .about-me-section {
        //   gap: 1.5rem;
        //   padding: 1.5rem;

        .badge-container {
            .badge {
                flex-direction: column;
                align-items: center;
                width: 100%;
                gap: 1rem;

                .badge-header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    width: 70%;

                    .photo-area {
                        width: 70%;
                        margin-right: 0;
                        margin-bottom: 1rem;
                    }

                    .info-area {
                        h1 {
                            font-size: 120%;
                        }

                        h2 {
                            font-size: 100%;
                        }

                        p {
                            font-size: 95%;
                        }
                    }
                }

                .description-area {
                    width: 90%;
                    height: 100%;
                    font-size: 1.1rem;
                }

                .badge-footer {
                    cursor: pointer;
                    background: linear-gradient(100deg, $accent-color, $secondary-color);
                    color: $text-color;
                    width: 80%;
                    padding: 0.5rem;
                    text-align: center;
                    border-radius: 0.5rem;
                    transition: background 0.3s;

                    &:hover {
                        background: linear-gradient(100deg, $primary-color, $accent-color);
                    }
                }
            }
        }
    }

}

@media (max-width: 768px) {
    .about-me-section {
        width: 100%;
        margin-top: 20%;
        padding: 1rem;
        gap: 1rem;

        .badge-container {
            width: 100%;

            .badge-strap {
                width: 50%;
                height: 2.5%;
                background: $accent-color;
                border-radius: 1rem;
                position: absolute;
                top: -4%;
                left: 50%;
                transform: translateX(-50%);
            }

            .badge {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                border-radius: 20px;

                .badge-header {
                    width: 90%;

                    .photo-area {
                        width: 70%;
                    }

                    .info-area {
                        h1 {
                            font-size: 100%;
                        }

                        h2 {
                            font-size: 90%;
                        }

                        p {
                            font-size: 85%;
                        }
                    }
                }

                .description-area {
                    font-size: 0.9rem;
                    width: 100%;

                    // .highlights {
                    //     display: none;
                    // }
                }

            }
        }

        .skills-section {
            width: 100%;
            padding: 0;

            .heading {
                padding: 15px;
            }

            .skills-container {
                width: 100%;
                height: 100%;
                grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
                gap: 0.5rem;
            }

            .skill-card {
                padding: 15px;

                .skill-info {
                    font-size: 1rem;
                    width: 100%;
                    text-align: center;

                    i {
                        font-size: 1.3rem;
                    }
                }

                .progress-bar {
                    width: 100%;
                }
            }
        }
    }
}