$primary-color: #191970; 
$secondary-color: #9cb5ff; 
$hover-color: #1b1b8a;

$bg-body: #12214e;
$bg-navigation: #192f70;

$text-color: #e0e0e0;
$color-a: #9C9C9C;

$whatsapp-color: #25D366;
$linkedin-color: #0077B5;
$github-color: #333;
$gmail-blue: #3e65cf;
$gmail-red: #c71610;
$gmail-yellow: #f2a60c;
$gmail-dark-blue: #3b60c4;
$gmail-green: #08851b;

$success-color: #4caf50;
$error-color: #f44336;
$warning-color: #ff9800;
$info-color: #2196f3;