<section class="contact-section" id="contact">
  <h2 class="heading">Entre em Contato</h2>
  <div class="contact-icons">
    <a
      *ngFor="let icon of iconDetails; let i = index"
      [href]="icon.ref"
      class="icon-link"
      target="_blank"
      rel="noopener noreferrer"
      (mouseover)="hoveredIndex = i"
      (mouseout)="hoveredIndex = null"
    >
      <div class="icon-container">
        <i
          [class]="icon.classIcon"
          [ngClass]="{ 'fa-bounce': hoveredIndex === i }"
        ></i>
        <span [ngClass]="{ 'fa-bounce': hoveredIndex === i }"
        >{{ icon.iconName }}</span>
      </div>
    </a>
  </div>
</section>