<section class="home-intro">
    <section class="home-intro-photo">
        <figure class="photo">
            <img src="/my-animation.png" alt="Animação do Eric">
        </figure>
    </section>
    <article class="home-intro-content">
        <h1 class="home-intro-title">Olá, eu sou <br class="desktop-break">  <span class="home-intro-title-name"></span></h1>

        <p class="home-intro-description">
            Sou um desenvolvedor Java Back-end apaixonado por tecnologia, estudando desde 2023. Tenho experiência em projetos desafiadores, incluindo a participação em um hackathon. Estou sempre em busca de aprendizado e evolução para contribuir de forma significativa em cada projeto.
        </p>

        <button class="home-intro-button" (click)="downloadCurriculo()">Baixar meu CV</button>
    </article>
</section>
