@import '@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '@fortawesome/fontawesome-free/css/brands.min.css';
@import '@fortawesome/fontawesome-free/css/solid.min.css';

$bg-body: #12214e;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-color: $bg-body;
}